*{
    margin: 0;
    padding: 0;    
}
.load {
    animation: slide 2s;
}
.slider{   
    height: 100vh;
    width: 100%;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;      
    animation: slide 40s infinite;     
}
@keyframes slide {
    0%{
        background-image: url('concert.png');
    }
    20%{
        background-image: url('concert.png');
    }
    0%{
        background-image: url('concerta.png');
    }
    40%{
        background-image: url('concerta.png');
    }
    0%{
        background-image: url('concertb.png');
    }
    60%{
        background-image: url('concertb.png');
    }
    0%{
        background-image: url('concertc.png');
    }
    80%{
        background-image: url('concertc.png');
    }
}
