*{
    margin: 0;
    padding: 0;    
}
.load {
    animation: slide 2s;
}
.slider{   
    height: 100vh;
    width: 100%;
    background-color: rgb(64, 68, 87);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;      
    animation: slide 30s infinite;     
}
@keyframes slide {
      1%{
        background-image: url('concert.png');
    }
    10%{
        background-image: url('concert.png');
    }
    20%{
        background-image: url('concert.png');
    }
    30%{
        background-image: url('concert.png');
    }
    30.01%{
        background-image: url('concerta.png');
    }
    40%{
        background-image: url('concerta.png');
    }
    50%{
        background-image: url('concerta.png');
    }
    60%{
        background-image: url('concerta.png');
    }
    60.01%{
        background-image: url('concertb.png');
    }
    70%{
        background-image: url('concertb.png');        
    }
    80%{
        background-image: url('concertb.png');        
    }
    90%{
        background-image: url('concertb.png');        
    }
    90.01%{
        background-image: url('concertc.png');                
    }
    100%{
        background-image: url('concertc.png');
    }    
    01%{
        background-image: url('concert.png');
    }   
  }
