*{
    margin: 0;
    padding: 0;    
}
.load {
    animation: slide 2s;
}
.slider{   
    height: 100vh;
    width: 100%;
    background-color: rgb(64, 68, 87);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;      
    animation: slide 30s infinite;     
}
@keyframes slide {
     01%{
        background-image: url('concert.png');
    }
    25%{
        background-image: url('concert.png');
    }
    25.01%{
        background-image: url('concerta.png');
    }
    50%{
        background-image: url('concerta.png');
    }
    50.01%{
        background-image: url('concertb.png');
    }
    75%{
        background-image: url('concertb.png');        
    }
    75.01%{
        background-image: url('concertc.png');                
    }
    100%{
        background-image: url('concertc.png');
    }
 }
