*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    font-family: "poppins", sans-serif;
}

header {
    top: 4px;
    width: 1140px;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

}
.slider {     
    width: 100vw;
    height: 100vh;    
    overflow: hidden; 
    position: relative; 
    margin-top: -64px;
}

.slider .list .item{    
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1450px;
    max-width: 80%;
    left: 52%;
    transform: translateX(-50%);
    padding-right: 52%;
    box-sizing: border-box;
    -color: #fc0ac7;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.slider .list .item .content .titl {
    text-shadow: 3px 10px 10px rgb(1, 1, 14);
    color: #fc0ac7;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1em;
} 
.slider .list .item .content .type {
    color: #eff30a;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgb(0, 0, 12);
    line-height: 1.3em;
}

.slider .list .item .content .button {
    margin-top: 20px;
}

.slider .list .item .content .button button {
    border: none;
    background-color: #eee;    
    padding: 2px 8px;
    font-size: 2em;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.4s;
}

ul a {
    -border: none;    
    text-align: center;
    text-transform: none;
    background-color: #e7f70f;    
    -padding: 2px 6px;
    font-size: 2em;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.4s;
}

ul {
    list-style: none;
    -display: flex;
    width: 100%;
}


li:first-child {
    margin-right: auto;
}

a {
    margin-top: 10PX;
    margin-right: 60%;
    height: 80%;
    width: 92PX;
    border-radius: 20PX;
    Padding: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(7, 16, 146);
    text-shadow: 3px 10px 10px rgb(6, 6, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
    user-select: none;
    transition: background-color .2s ease, text-decoratio .1s ease-out;
}

ul a:hover {           
    background-color: #97eaf8ef;
    -text-decoration: underline solid #caf204 2px;
    text-underline-offset: 6px;
    transform: translateY(1px);
    transition: 0.6s ease;    
}

.thumbnail {
    display: flex;
    gap: 20px;
    top: 50%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
}

.thumbnail .item {
    top: -20%;   
    width: 150px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {   
    margin-top: 120px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45%;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.thumbnail .item .content {    
    position: absolute;
    bottom: -60px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .titl {
    height: 48px;  
    width: 128px;
    border-radius: 10px;
    background-color: #2c3044;    
    font-weight: bold;
    -color: #4bf716;
    font-size: 2em;
    -text-shadow: 3px 10px 10px #02010c;
}

.thumbnail .item .content .titl .p {
    font-weight: bold;
    color: #f716f7;
    font-size: 2em;
    -text-shadow: 3px 10px 10px #02010c;
}

 @supports (background-clip: text) or
    (-webkit-background-clip: text) {
        p {
    background-image:       
    linear-gradient(
    to right,
    #f5b29d,
    #eef12f,
    #eca5ab,
    #f0cd0a,
    #42d0f3,
    #eb81b3,
    #8bf1b2,
    #f3e95b,
    #a4dcec
    );

    /* padding: 0.2rem;
    border: 20px solid reg(255 255 255 / 50%);
    background-clip: border-box;
    background-clip: padding-box;
    background-clip: content-box; */

    -webkit-background-clip: text;
    background-clip: text;

   --bg-size: 200%;
    color: transparent;
    background-size: var(--bg-size);
    animation: animate 2s steps(5) infinite;
    animation: animate 2s linear infinite;
    animation: animate 2s ease infinite;
 }

 @keyframes animate {
    frpm {
        background-position: 0;
    }
    to {
        background-position: 200%;
    }
 }

.nextprevArrows {
    position: absolute;
    top: 87%;
    right: 49%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nextprevArrows button {  
    width: 50px;
    height: 40px;
    border-radius: 20%;
    background-color: #03772a;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: large;
}

.nextprevArrows button:hover {
    background-color: #caccc9;
    color: #000;
}


.slider .list .item:nth-child(1) {
    z-index: 1;
}

slider .list .item:nth-child(1) .content .title,
slider .list .item:nth-child(1) .content .type,
slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.2s 0.5s linear 1 forwards;
}

@keyframes showContent {
    to{
       transform: translateY(0px);
       filter: blur(00px);
       opacity: 1;        
    }
}

slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s;
}

slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s;
}

slider .list .item:nth-child(1) .content .button {
    animation-delay: 0.8s;
}

slider .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}


.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from{
        width: 0;
        opacity: 0;
    }
}

.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from{
        transform: translateX(150px);
    }
}

.slider.prev .list .item:nth-child(2) {
    z-index: 0;
}

slider.prev .list .item {
    z-index: 1;
}

.slider.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;
}

@keyframes outFrame {
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;

    }
}
   
.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

slider.prve .list .item:nth-child(1) .content .title,
slider.prve .list .item:nth-child(1) .content .type,
slider.prve .list .item:nth-child(1) .content .button{
     animation: contentOut 0.5s 1s linear 1 forwards;
}

@keyframes contentOut {
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }

    .slider .list .item .content .title{
        font-size: 2.3em;
    }
    
}
