-div  {
                
    -margin: 0;
    -padding: 0;
    margin-top: 160px;
    -height: 100vh;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    -background-color: #f7f1e3;    
}
-button {
    margin-top: 160px;
    margin: .7em;
    padding: .1em 1.em;
    font-family: 'Sofia', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #d1c3a2;
    background-color: #fff;
    border: 2px solid rgba(112,111,211,0);
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    transition: 2s;
}
-button:focus {
    color: #786fd3;
    border: 2px solid rgba(112,111,211,1);
    box-shadow: 0px 0px 0px 1px rgba(112,111,211,1);
    animation: anim-shadow .3s forwards;
}
@keyframes anim-shadow {
    100% {
        box-shadow: 0px 0px 50px 20px rgba(112,111,211,0);
    }
}