*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sofia", sans-serif;    
    overflow-x: hidden;
    -background-color: #514c4c;
}

.section_top {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/concert.jpg); 
    background-size: cover;
    background-position: 50% 30%;
    display: flex;
    flex-direction: column;
    -justify-content: center;
    align-items: center;
    text-align: center;
}

.bubbles img {
    margin-top: -35px;
    width: 35px;
    animation: bubble 15s linear infinite;
}
@keyframes bubble {
    0%{
        transform: translateY(90vh) scale(1.1);
        opacity: 2;
    }
    50%{
        opacity: 1.5;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(0vh) scale(0.1);
        opacity: 0;
    }
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    -bottom: 0;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -display: block;
    width: 100%;
    height: 100%;
    -background-color: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 700px;
    position: relative;
    z-index: 1;
}

.effect {
    margin-top: 150px;
    color: rgb(203, 15, 236);
    text-shadow: 3px 10px 10px #f5dc21;
    font-size: 4rem;
    -text-shadow: 0 0 10px #dfff00, 0 0 20px #dfff00, 0 0 40px #dfff00, 0 0 80px #dfff00;
}

-container h1 {
    color: rgb(203, 15, 236);
    text-shadow: 3px 10px 10px rgb(232, 194, 8);
    font-size: 4rem;
    -text-shadow: 0 0 10px #dfff00, 0 0 20px #dfff00, 0 0 40px #dfff00, 0 0 80px #dfff00;
}

.container h2 {
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: rgb(245, 81, 5);
    -text-shadow: 3px 10px 10px rgb(238, 68, 6);
    font-size: 3.5rem;
    text-shadow: 0 0 10px #dfff00, 0 0 20px #dfff00, 0 0 40px #dfff00, 0 0 80px #dfff00;
}    


.container p {
    margin-top: 10px;
    color: rgb(218, 240, 14);
    text-shadow: 3px 10px 10px rgb(238, 68, 6);
    font-size: 3rem;
}

.btn {
    padding: 0.75rem 1.25rem;
    margin-top: .8rem;
    font-size: 1.1rem;
    font-weight: 550;
    color: #fff44f;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background-color: #111;
    transition: .3s;
}

.btn:hover {

}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu {
    box-shadow: 0 0 0 100vw #d6d8d1, 0 0 0 100vh #eeebeb;
    border-radius: 0;
}

label input:checked + .menu .hamburger {
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
}

label a {
    margin-bottom: 1em;
    font-size: 30px;
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 12px 36px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

label a:hover {
    background-color: teal;
    color: #fff;
    letter-spacing: 3px;
    border-radius: 40px;
}

-showcase {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

-showcase:before {
    content: '';
    background: url('../images/concert.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    -z-index: -1;
}

-showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

-moz-first-node h1 {
    color: rgb(203, 15, 236);
    text-shadow: 3px 10px 10px rgb(232, 194, 8);
    font-size: 4rem;
}

-showcase h2 {
    color: rgb(218, 240, 14);
    text-shadow: 3px 10px 10px rgb(238, 68, 6);
    font-size: 3.5rem;
}

-showcase p {
    color: rgb(218, 240, 14);
    text-shadow: 3px 10px 10px rgb(238, 68, 6);
    font-size: 3.5rem;
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
}
.bubbles img:nth-child(2) {
    animation-delay: 1s;
}
.bubbles img:nth-child(3) {
    animation-delay: 0.5s;
}
.bubbles img:nth-child(4) {
    animation-delay: 2.5s;
}
.bubbles img:nth-child(5) {
    animation-delay: 3s;
}
.bubbles img:nth-child(6) {
    animation-delay: 1.6s;
}
.bubbles img:nth-child(7) {
    animation-delay: 0.8s;
}
.bubbles img:nth-child(8) {
    animation-delay: 1s;
}
.bubbles img:nth-child(9) {
    animation-delay: 1.6s;
}
.bubbles img:nth-child(10) {
    animation-delay: 1s;
}

.box {
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
    position: relative;
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: rgba(5, 5, 5, 0.75);
    border-radius: 20px;
    overflow: hidden;
 }

 .box h2 {
    position: relative;
    z-index: 2;
    color: rgb(45, 39, 28);
    text-shadow: 2px 2px 20px 40px rgb(238, 241, 29);
    font-size: 2.5em;
 }

 .box::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: rotate 4s linear infinite;
 }

 .box::after {
   content: '';
   position: absolute;
   width: 400px;
   height: 400px;
   background-image: conic-gradient(transparent,transparent,transparent,#d400d4);
   animation: rotate 4s linear infinite;
   animation-delay: -2s;
 }

 @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
 }

 .box span {
   position: absolute;
   inset: 4px;
   border-radius: 16px;
   background: #b2d7ec;
   z-index: 1;
 }



